<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <h3 class="m-4">Artboards</h3>
  <ul class="list-group m-4">
    <% @body['document']['pages'].each do |page| %>
      <% page['artboards'].each do |artboard| %>
        <img width="900" src="<%= "#{@body['uploads_folder']}#{@body['id']}/#{artboard['id']}.png" %>"/>
      <% end %>
    <% end %>
  </ul>
</body>
</html>